<div class="jumbotron jumbotronTop">
  <h1 class="display-4">Are You Worry With Your Storage !!!</h1>
  <p class="lead">Join With Us.</p>
  <hr class="my-4">
  
  
 <%= link_to "Join With Us", new_user_registration_path, :class=> "btn btn-success btn-lg" %>
</div>

<div class="card-group cardMod">
  <div class="card">
    
    <img class="card-img-top" src="<%= asset_path( 'c1.jpg' ) %>" alt="Card image cap" />

    <div class="card-body">
      <h5 class="card-title">Why To Choose Us ?</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
       <%= link_to "Look More", root_path, :class => "btn btn-lg bg-warning" %>
      
    </div>
  </div>

  <div class="card">  
    <img class="card-img-top" src="<%= asset_path( 'c1.jpg' ) %>" alt="Card image cap" />

    <div class="card-body">
      <h5 class="card-title">What We Offers ?</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      
       <%= link_to "Look More", root_path, :class => "btn btn-lg bg-warning" %>
      
      
    </div>
  </div>

  <div class="card">
   
    <img class="card-img-top" src="<%= asset_path( 'c1.jpg' ) %>" alt="Card image cap" />

    <div class="card-body">
      <h5 class="card-title">What We are ?</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
       <%= link_to "Look More", root_path, :class => "btn btn-lg bg-warning" %>
      
    </div>
  </div>

</div>

<div class="jumbotron jumbotron-fluid jumbotronBotom">
  <div class="">
    <h1 class="display-4">Be Differnt In Forest</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>